@charset "utf-8";
@import "./variable.scss";
@import "../../node_modules/bulma/bulma.sass";

.highday-logo {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    background-image: url($logo_path);
}

.bg-main {
    background: $bg_main;
}

.is-transparent {
    background-color: hsl(0, 0%, 100%, 0);
}

.is-fullscreen {
    width: 100vw;
    height: 100vh;
}